:root {
  --raisin-black: #25252B;
  --lighter-raisin-black: #2D2D34;
  --black-coffee: #403940;
  --dark-liver: #53454C;
  --rose-ebony: #665158;
  --deep-taupe: #785D64;
  --burnished-brown: #9E757C;
  --english-lavender: #B18188;
  --rosy-brown: #C38D94;
  --tuscany: #CDA0A7;
  --pastel-pink: #D2A9AF;
  --silver-pink: #D6B1B6;
  --white: #FFF;
}

body {
  font-family: "Handlee","Baskervville", sans-serif;
}

.serious {
  font-family: 'Baskervville', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.Links{
  padding-top: 5px;
  padding-bottom: 5px;
  width: 80px;
  text-align:center;
}

.bg-primary {
  background-color: var(--english-lavender) !important;
}

.border-4 {
  border-color: var(--english-lavender) !important;
}

h1{
  color: var(--english-lavender);
}
.cover {
  width: 100%;
  object-fit: cover;
}
.pink {
  color: var(--english-lavender)
}
.dark-text {
  color: var(--raisin-black)
}

footer {
  bottom: 0;
  position: absolute;
}

@media screen and (max-width: 480px) {
  body{
    font-size: 4.5vw;
  }
  .intro {
    font-size: 3.5vw;
  }
}
@media screen and (max-width: 992px) {
  .projectImg {
    width: 100%
  }
  .projectText {
    font-size: 2.5vw;
  }
}

@media screen and (min-width: 1400px) {
  .projectSection {
    position: relative;
  }
  .projectImg {
    width: 70%;
  }
  .projectText{
    position: absolute;
    top: 35%;
    left: 50%;
    width: 50%;
  }
}



.wave {
  animation-name: wave-animation;  
  animation-duration: 2.5s;        
  animation-iteration-count: infinite; 
  transform-origin: 70% 70%;      
  display: inline-block;
}
@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(20.0deg) } 
  20% { transform: rotate(-10.0deg)}
  30% { transform: rotate(20.0deg) }
  40% { transform: rotate(-5.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }  
  100% { transform: rotate( 0.0deg) }
}


