:root {
  --raisin-black: #25252B;
  --lighter-raisin-black: #2D2D34;
  --black-coffee: #403940;
  --dark-liver: #53454C;
  --rose-ebony: #665158;
  --deep-taupe: #785D64;
  --burnished-brown: #9E757C;
  --english-lavender: #B18188;
  --rosy-brown: #C38D94;
  --tuscany: #CDA0A7;
  --pastel-pink: #D2A9AF;
  --silver-pink: #D6B1B6;
  --white: #FFF;
}

.Links{
  padding-top: 5px;
  padding-bottom: 5px;
  width: 80px;
  text-align:center;
}

.bg-primary {
  background-color: var(--english-lavender) !important;
}

h1{
  color: var(--english-lavender);
}
.cover {
  width: 100%;
  object-fit: cover;
}
.pink {
  color: var(--english-lavender)
}

.footer {
  bottom: 0;
  position: absolute;
}

@media (max-width: 768px) {
  .fer {
    width: 70vw;
  }
}
@media (min-width: 768px) {
  .fer {
    width: 25vw;
  }
}
